body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #022e5a64;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 150px auto;
    padding: 30px;
    background: white;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 30px;
}

#timer {
    font-size: 50px;
    margin: 20px 0;
    font-weight: bold;
}

.buttons button {
    font-size: 20px;
    padding: 10px 15px;
    margin: 7px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

#start-btn {
    background: rgb(1, 150, 249);
    color: white;
}

#pause-btn {
    background: rgb(255, 234, 0);
    color: white;
}

#reset-btn {
    background: rgb(255, 0, 64);
    color: white;
}